<div class="container-fluid">
    
    <div hidden class="row form-group mt-4">
        <div class="col-md-8 col-sm-8 col-8">
            <input class="form-control" type="search" placeholder="Nombre del archivo">
        </div>
        <div class="col-md-4 col-sm-4 col-4" style="text-align: right;" >
            <button class="btn btn-danger btn-block" type="submit">Buscar</button>
        </div>
    </div>

    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-md-6 col-sm-1 col-6">
                <button (click)="remove_route()" class="btn btn-outline-danger mr-2"><i class="bi bi-arrow-left-circle"></i></button>
            </div>
            <div class="col-md-6 col-sm-1 col-6" style="text-align: right">
                <button class="btn btn-outline-danger mr-2" data-toggle="modal" data-target="#modal_new_folder"><i class="bi bi-folder-plus"></i></button>
                <span class="btn btn-outline-danger btn-file">
                    <i class="bi bi-cloud-arrow-up"></i> <input type="file">
                </span>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li  class="breadcrumb-item"><a href="">Inicio</a></li>
            <li *ngFor="let item of list" class="breadcrumb-item"><a href="">{{item}}</a></li>
        </ol>
      </nav>

    <ul class="list-group">
        <li *ngFor="let object of list_directory" class="list-group-item">
            <div class="row">
                <div class="col-md-8">
                    <i type="button" class="btn-link" (click)="get_file('file', object.name)" *ngIf="object.type == 'file'" class="bi bi-file-earmark-text"> {{object.name}}</i> 
                    <a (click)="get('files', object.name)" type="button" class="btn-link" *ngIf="object.type == 'folder'"><i  class="bi bi-folder"></i> {{object.name}}</a>
                </div>
                <div class="col-md-4" style="text-align: right;" *ngIf="object.type == 'folder'">
                    <a type="button" class="btn btn-xs btn-secondary mr-1">Permisos</a>
                    <a type="button" class="btn btn-xs btn-warning mr-1 text-white">Editar</a>
                    <a (click)="delete_file()" type="button" class="btn btn-xs btn-danger">Eliminar</a>
                </div>
            </div>
        </li> 
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="modal_new_folder" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white" >Nueva carpeta</h5>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <label for="">Ingrese nombre de la carpeta</label>
                  <input type="text" class="form-control" placeholder="Nombre">
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>